@import "../../theme/variables";
@import "../../theme/utilities";

.wrapper {
  justify-content: flex-start;
}

.videoWrapper {
  width: 100%;
  max-width: 6.4rem;
}

.videoChooseWrap {
  display: flex;
  padding: $space *1.5;
  align-items: stretch;
  height: .36rem;
  width: 100vw - $space *3;
  max-width: 6.4rem;
}

.videoChoose {
  flex: 1;
  display: flex;
  @include flex-box-align(center, center);
  margin-right: $space * 1.5;
  border: .01rem solid darken($fontColor, 10%);
  border-radius: $radius;

  &:last-child {
    margin-right: 0;
  }

  &:global(.touch-active) {
    color: $bgc;
    background-color: $fontColor;
  }
}

.explicationWrap {
  padding: $space*1.5;
  max-width: 6.4rem;
}

.explicationTitle {
  font-size: $fontL;
}

.explicationList {
  margin: $space 0;

  > a {
    color: darken($fontColor, 20%);
    text-decoration: underline;
  }
}
