//-
   _style: 样式文件

div(class=_style.wrapper)
  div(class="swiper-slide " + _style.slide1 data-hash="page1")
  div(class="swiper-slide " + _style.slide2 data-hash="page2")
  div(class="swiper-slide " + _style.slide3 data-hash="page3")
  div(class="swiper-slide " + _style.slide4 data-hash="page4")
  div(class="swiper-slide " + _style.slide5 data-hash="page5") Page 5
  div(class="swiper-slide " + _style.slide6 data-hash="page6") Page 6
div(class="swiper-pagination " + _style.pagination)