@import "../theme/variables";
@import "../theme/utilities";

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

  box-sizing: content-box;
  transition-property: transform;
}

.pagination {
  .bulletActive {
    opacity: 1;
    background: lighten($bgc, 10%);
  }
}

.slide {
  @extend %flexCenter;
  flex-direction: column;
}

