@import "../theme/_variables";
@import "../theme/_utilities";

.wrapper {
  position: relative;
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.pagination {
  .bulletActive{
    opacity: 1;
    background: lighten($bgc, 10%);
  }
}