@import "../theme/_variables";
@import "../theme/_utilities";

.wrapper {
  position: relative;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide0,
.slide1,
.slide2,
.slide4 {
  text-align: center;
}

.slide3 {
  justify-content: flex-start;
}

.pagination {
  .bulletActive {
    opacity: 1;
    background: lighten($bgc, 10%);
  }
}