@use '~@cycjimmy/sass-lib' as *;
@use '@/theme/variables';

$prompt-orientation-bgc: variables.$bgc;
$prompt-orientation-font-color: variables.$font-color;
$lock-orientation: portrait;

.wrapper {
  @extend %full-container;
  @extend %flex-center;
  z-index: 999;
  flex-direction: column;

  background-color: $prompt-orientation-bgc;
  color: $prompt-orientation-font-color;

  @media screen and (orientation: $lock-orientation) {
    display: none;
  }

  &.disable {
    display: none;
  }
}

.icon-wrapper {
  @extend %rel;
  width: 8vw;
  height: 8vw;
  margin: variables.$space;

  @media screen and (orientation: portrait) {
    width: 14vw;
    height: 14vw;
  }

  > svg {
    @extend %full-container;
    fill: $prompt-orientation-font-color;
  }
}

:global(.desktop) {
  .wrapper {
    display: none;
  }
}

