svg(viewBox="0 0 512 512")
  path(d="M189.4,224.8H40.3C18.7,224.8,6,237.5,6,259v211.9C6,493.6,18.4,506,41.1,506h352c1.9,0,3.8,0.1,5.7-0.1 c13-0.7,25.6-10.2,27.7-22.8c1.8-11.1,1.3-22.6,1.9-33.9h-31.9v25.3H37.7V255.8h151.8C189.4,245.3,189.4,235.3,189.4,224.8 L189.4,224.8z")
  path(d="M154,109.4c17.5-26.5,34.4-52.2,51.9-78.6c-31.6-4.1-62-8.1-93.3-12.2c5.3,11.7,10.1,22.3,15,33.1c-1.1,0.7-1.8,1.1-2.5,1.6 C75.2,79.5,36.8,117.4,10.2,167.3c-4.8,9-2.5,18.5,5.9,22.8c8.2,4.2,17.2,0.9,21.8-8c2.9-5.7,5.5-11.6,8.9-17.1 C65,136.2,90,114.2,117.9,95.1c7.3-5.1,15.1-9.5,23-14.4C145.4,90.6,149.5,99.5,154,109.4L154,109.4z")
  path(d="M154,109.4")
  path(d="M363.6,381c12.8,0.1,23.6-10.5,23.6-23.3c0.1-12.8-10.6-23.5-23.5-23.5c-12.6,0-23.2,10.4-23.4,23.1 C340.2,370.1,350.7,380.8,363.6,381L363.6,381z M363.6,381")
  path(d="M471.6,6H259.1c-21.6,0-34.4,12.7-34.4,34.2v353c0,22,12.5,34.7,34.4,34.7h211.9c22.4,0,34.9-12.5,34.9-34.7V40.7 C506,18.6,493.5,6,471.6,6L471.6,6z M474.3,396.3H256.2v-77.5h218.1V396.3z M474.5,286.9H256.4V37.6h218.1V286.9z M474.5,286.9")