//-
   _style: 样式文件
   logoSvg: logo图片

h2.ani(class=_style.title, swiper-animate-effect="fadeInUp", swiper-animate-duration="0.5s", swiper-animate-delay=".2s") WebGL

.ani(class=_style.container, swiper-animate-effect="fadeInUp", swiper-animate-duration="0.5s", swiper-animate-delay=".4s")
