@use '~@cycjimmy/sass-lib' as lib;
@use '@/theme/utilities';

.title {
  font-size: utilities.calc-vw(48);
  font-weight: bold;
}

.points {
  > li {
    list-style: disc;
  }
}

.icon-core {
  &::before {
    @include lib.bg-image-full(url('@static/images/icon-core.svg'));
  }
}

:global(.desktop) {
  .title {
    font-size: utilities.calc-px(48);
  }
}
