//- Commonly used meta list
//- ---------------------------------------------------------

//- Declare the character encoding
meta(charset='utf-8')

//- Using the latest version of IE and Chrome
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

//- Page description
meta(name='description', content="H5 webpack starter")

//- Page Keyword
meta(name='keywords', content="H5, gulp, webpack, es6")

//- author
meta(name="author", content="cycjimmy, cycjimmy@gmail.com")

//- for search engine
meta(name="robots", content="index")

//- cache-control
meta(http-equiv="cache-control", content="public, max-age=31536000")

//- Handheld devices viewport
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

//- Ignore telephone, email, address recognition
meta(name="format-detection", content="telephone=no,email=no,adress=no")

//- apple iOS devices
//- Title added to the home screen
meta(name="apple-mobile-web-app-title", content="h5-webpack-starter")

//- Enables WebApp full-screen mode
meta(name="mobile-web-app-capable", content="yes")

//- Set the status bar color
meta(name="apple-mobile-web-app-status-bar-style", content="black")

//- speed mode for the 360 browser
meta(name="renderer", content="webkit")

//- windows phone no tap-highlight
meta(name="msapplication-tap-highlight", content="no")

//- UC browser forced vertical screen
meta(name="screen-orientation", content="portrait")
//- UC browser forces full screen
  meta(name="full-screen", content="yes")
//- UC browser application mode
  meta(name="browsermode", content="application")

//- QQ browser forced vertical screen
meta(name="x5-orientation", content="portrait")
//- QQ browser forces full screen
  meta(name="x5-fullscreen", content="true")
//- QQ browser application mode
  meta(name="x5-page-mode", content="app")




