@import "variables";

/*---------------------------
 * mixin
 *---------------------------*/

/**
 * Fix Align Center
 * $offset
 * $overwrite
 * $top
 * $right
 * $bottom
 * $left
 */
@mixin fix-center($offset: -100%, $overwrite: false, $top: false, $right: false, $bottom: false, $left: false) {
  position: absolute;
  margin: auto;
  @if ($overwrite == false) {
    left: $offset;
    top: $offset;
    right: $offset;
    bottom: $offset;
  } @else {
    @if ($top) {
      top: $top;
    }
    @if ($right) {
      right: $right;
    }
    @if ($bottom) {
      bottom: $bottom;
    }
    @if ($left) {
      left: $left;
    }
  }
}

/**
 * flex container inner elements alignment
 * $mainAxis
 * $crossAxis
 * options: false, center, flex-end, ...
 */
@mixin flex-box-align($mainAxis:false, $crossAxis:false) {
  @if ($mainAxis != false) {
    justify-content: $mainAxis;
  }
  @if ($crossAxis != false) {
    align-items: $crossAxis;
  }
}

/**
 * square container
 */
@mixin square-wrap($width:100%) {
  height: 0;
  width: $width;
  padding-bottom: $width;
}

@mixin square-wrap-vw($vw) {
  $max: round($vw*16 /9 *100)/100;
  $min: round($vw*3 /2 *100)/100;

  width: $vw + vw;
  height: $vw + vw;
  min-width: $min + vh;
  max-width: $max + vh;
  min-height: $min + vh;
  max-height: $max + vh;
}

/*---------------------------
 * %placeholder
 *---------------------------*/
// absolute
%abs {
  position: absolute;
  z-index: 1;
}

// relative
%rel {
  position: relative;
  z-index: 1;
}

// fullContainer
%fullContainer {
  @extend %abs;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

// gpu-speedUp
%gpu-speedUp {
  @extend %rel;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
}

/*---------------------------
 * function
 *---------------------------*/
/**
 * calc vw
 * $designDrawingLength
 */
@function calcVW($designDrawingLength) {
  @return $designDrawingLength / $designDrawingWidth * 100vw;
}

/**
 * strip units
 */
@function strip-units($number){
  @return $number / ($number * 0 + 1);
}

