/*---------------------------
 * font-size
 *---------------------------*/
$fontS: 14px;
$fontM: 15.5px;
$fontL: 17px;

/*---------------------------
 * color
 *---------------------------*/
/* default font color */
$fontColor: #eae9e5;

/* default background color */
$bgc: #0a4f56;

/* other color */

/*---------------------------
 * layout
 *---------------------------*/
$designDrawingWidth: 750;

/* default space */
$space: 2vw;
$iconMarginR: .8vh;

/*---------------------------
 * radius
 *---------------------------*/
$radius: .04rem;