/*---------------------------
 * font-size
 *---------------------------*/
$font-s: 14px;
$font-m: 15.5px;
$font-l: 17px;

/*---------------------------
 * color
 *---------------------------*/
/* color */
$black: #000;
$white: #fff;

/* default font color */
$font-color: #eae9e5;

/* default background color */
$bgc: #0a4f56;

/* other color */

/*---------------------------
 * layout
 *---------------------------*/
$design-drawing-width: 750;
$design-drawing-best-height: 1206;
$pc-root-width: 500px;

/* default space */
$space: 2vw;
$icon-margin-r: 0.8vh;

/*---------------------------
 * radius
 *---------------------------*/
$radius: 1vw;
