@import 'variables';
@import 'utilities';
/*---------------------------
 * reset style
 *---------------------------*/
@import "reset";

body {
  color: $fontColor;
  background-color: $bgc;
}

/*---------------------------
 * Main Frame
 *---------------------------*/
:global {
  .ani {
    visibility: hidden;
  }

  .main-screen {
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include gpu-speedUp();
  }
}





