// styleInHtml
@use 'variables';

/*---------------------------
 * reset style
 *---------------------------*/
@use '~@cycjimmy/sass-lib/reset/h5';

html {
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: variables.$font-color;
  font-size: variables.$font-m;
  font-family: -apple-system-font, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
