// styleInHtml
@import 'variables';
@import 'utilities';

/*---------------------------
 * reset style
 *---------------------------*/
@import "reset";

html, body {
  position: relative;
  height: 100%;
}

html {
  font-size: 100px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: $bgc;
  color: $fontColor;
  font-size: $fontM;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

/*---------------------------
 * Main Frame
 *---------------------------*/
:global {
  .main-screen {
    width: 100%;
    height: 100%;
    overflow: hidden;

    @extend %gpu-speedUp;
  }
}





