// styleInHtml
@import 'variables';
@import 'utilities';

/*---------------------------
 * reset style
 *---------------------------*/
@import "~@cycjimmy/sass-lib/reset/h5";

html {
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: $fontColor;
  font-size: $fontM;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}


