doctype html
html(lang='en')
  head
    title H5 Webpack Starter
    include includes/meta.pug

    //- swiper global style
    link(rel="stylesheet" href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet" href="//cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css")

    //- videoJs
      script(src="//cdn.bootcss.com/video.js/6.2.1/video.min.js")
      link(rel="stylesheet" href="//cdn.bootcss.com/video.js/6.2.1/video-js.min.css")

  body
    .loading-overlay
      img.loading-pic(src=require('../images/loading.svg'))
    .swiper-container.main-screen

    //- WeChat JSSDK
      script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")