@import "../../theme/variables";
@import "../../theme/utilities";

.title {
  font-size: calcVW(48);
  font-weight: bold;
}

.popupBtn {
  height: calcVW(80);
  padding: 0 $space * 1.6;
  margin: calcVW(50) 0;

  border: calcVW(2) solid $fontColor;
  border-radius: $radius;
  font-size: $fontL;
  line-height: calcVW(80);
}
