@use '~@cycjimmy/sass-lib' as *;
@use '~@cycjimmy/sass-lib' as lib;
@use '@/theme/variables';
@use '@/theme/utilities';

@keyframes rotation {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

.title {
  font-size: utilities.calc-vw(48);
  font-weight: bold;
}

// logo animation
$pic-height: utilities.calc-vw(240);

.logo-wrap {
  @extend %rel;
  height: $pic-height;
  width: $pic-height;
  margin-bottom: calc($pic-height / 6);
}

.logo {
  @extend %full-container;
  transform: scale(0.9);
  transition: transform 0.4s;

  &.enlarge {
    transform: scale(1);
  }

  &::before {
    @extend %full-container;
    display: block;
    content: '';
    perspective: calc($pic-height / 6);
    @include lib.bg-image-full(url('https://cycjimmy.github.io/staticFiles/images/cyc_logo256.png'));
    animation: rotation 4s linear 0s infinite normal both;
  }

  &.animation-paused {
    &::before {
      animation-play-state: paused;
    }
  }
}

.goto-github {
  margin-top: variables.$space * 2;
  padding: 0 variables.$space * 1.6;
  height: utilities.calc-vw(80);

  border: utilities.calc-vw(2) solid variables.$font-color;
  border-radius: variables.$radius;
  font-size: variables.$font-l;
  line-height: utilities.calc-vw(80);

  &:hover {
    color: variables.$bgc;
    background-color: variables.$font-color;
  }
}

:global(.desktop) {
  $space: utilities.calc-px(15);
  $radius: utilities.calc-px(7.5);

  .title {
    font-size: utilities.calc-px(48);
  }

  $pic-height: utilities.calc-px(240);

  .logo-wrap {
    height: $pic-height;
    width: $pic-height;
    margin-bottom: calc($pic-height / 6);
  }

  .logo {
    &::before {
      perspective: calc($pic-height / 6);
    }
  }

  .goto-github {
    margin-top: $space * 2;
    padding: 0 $space * 1.6;
    height: utilities.calc-px(80);

    border-width: utilities.calc-px(2);
    border-radius: $radius;
    line-height: utilities.calc-px(80);
  }
}
