@import "../theme/variables";
@import "../theme/utilities";

.title {
  font-size: .2rem;
  font-weight: bold;
}

.container {
  position: relative;
  width: 80vw;
  height: 60vw;
  max-width: 5rem;
  max-height: 4rem;
  margin: .2rem auto;
  overflow: hidden;
  background-color: lighten($bgc, 4%);
}