@import "@/theme/variables";
@import "@/theme/utilities";

.pointsWrapper {
  width: calcVW(500);
  padding: calcVW(20);
  margin-bottom: calcVW(80);

  > li {
    padding: calcVW(10);

    font-size: calcVW(36);
    text-align: justify;
  }
}

%icon {
  display: inline-flex;
  width: calcVW(36);
  height: calcVW(36);
  margin: 0 calcVW(10);
  justify-content: center;
  align-items: center;

  &::before {
    display: block;
    content: "";
    width: calcVW(30);
    height: calcVW(30);
  }
}

.icon {
  @extend %icon;
}

.link {
  @extend %icon;

  &::before {
    @include bg-image-full(url('@static/images/icon-link.svg'));
  }
}

:global(.desktop) {
  .pointsWrapper {
    width: calcPX(500);
    padding: calcPX(20);
    margin-bottom: calcPX(80);

    > li {
      padding: calcPX(10);
      font-size: calcPX(36);
    }
  }

  .icon {
    @extend %icon;
    width: calcPX(36);
    height: calcPX(36);
    margin: 0 calcPX(10);

    &::before {
      width: calcPX(30);
      height: calcPX(30);
    }
  }
}
