@use '~@cycjimmy/sass-lib' as lib;
@use '@/theme/variables';
@use '@/theme/utilities';

.points-wrapper {
  width: utilities.calc-vw(500);
  padding: utilities.calc-vw(20);
  margin-bottom: utilities.calc-vw(80);

  > li {
    padding: utilities.calc-vw(10);

    font-size: utilities.calc-vw(36);
    text-align: justify;
  }
}

%icon {
  display: inline-flex;
  width: utilities.calc-vw(36);
  height: utilities.calc-vw(36);
  margin: 0 utilities.calc-vw(10);
  justify-content: center;
  align-items: center;

  &::before {
    display: block;
    content: '';
    width: utilities.calc-vw(30);
    height: utilities.calc-vw(30);
  }
}

.icon {
  @extend %icon;
}

.link {
  @extend %icon;

  &::before {
    @include lib.bg-image-full(url('@static/images/icon-link.svg'));
  }
}

:global(.desktop) {
  .points-wrapper {
    width: utilities.calc-px(500);
    padding: utilities.calc-px(20);
    margin-bottom: utilities.calc-px(80);

    > li {
      padding: utilities.calc-px(10);
      font-size: utilities.calc-px(36);
    }
  }

  %icon {
    width: utilities.calc-px(36);
    height: utilities.calc-px(36);
    margin: 0 utilities.calc-px(10);

    &::before {
      width: utilities.calc-px(30);
      height: utilities.calc-px(30);
    }
  }

  .icon {
    @extend %icon;
  }

  .link {
    @extend %icon;
  }
}
