@use 'sass:color';
@import '@/theme/variables';
@import '@/theme/utilities';

.root {
  background-color: color.adjust($bgc, $lightness: -3%);

  > :global(.swiper) {
    background-color: $bgc;
  }

  &:global(.desktop) {
    > :global(.swiper) {
      width: $pcRootWidth;
      max-height: round($pcRootWidth * $designDrawingBestHeight / $designDrawingWidth);
      overflow: hidden;

      @include fix-center(0);
    }
  }
}

.pagination {
  .bulletActive {
    opacity: 1;
    background: color.adjust($bgc, $lightness: 10%);
  }
}

