@import "@/theme/variables";
@import "@/theme/utilities";

.root {
  background-color: darken($bgc, 3%);

  > :global(.swiper) {
    background-color: $bgc;
  }

  &:global(.desktop) {
    > :global(.swiper) {
      width: $pcRootWidth;
      max-height: round($pcRootWidth * $designDrawingBestHeight / $designDrawingWidth);
      overflow: hidden;

      @include fix-center(0);
    }
  }
}

.pagination {
  .bulletActive {
    opacity: 1;
    background: lighten($bgc, 10%);
  }
}

