@use 'sass:color';
@use 'sass:math';
@use '~@cycjimmy/sass-lib' as lib;
@use '@/theme/variables';

.root {
  background-color: color.adjust(variables.$bgc, $lightness: -3%);

  > :global(.swiper) {
    background-color: variables.$bgc;
  }

  &:global(.desktop) {
    > :global(.swiper) {
      width: variables.$pc-root-width;
      max-height: math.round(math.div(variables.$pc-root-width * variables.$design-drawing-best-height,
      variables.$design-drawing-width));
      overflow: hidden;

      @include lib.fix-center(0);
    }
  }
}

.pagination {
  .bullet-active {
    opacity: 1;
    background: color.adjust(variables.$bgc, $lightness: 10%);
  }
}

