@import "../theme/_variables";
@import "../theme/_utilities";

.title {
  font-size: .2rem;
  font-weight: bold;
}

.container {
  position: relative;
  width: 80vw;
  height: 60vw;
  margin: .2rem auto;
  overflow: hidden;
}

.content1,
.content2,
.content3,
.content4 {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lighten($bgc, 4%);
  text-align: center;
}

.pagination {
  .bulletActive{
    opacity: 1;
    background: lighten($bgc, 10%);
  }
}