//-
   _style: 样式文件


h2(class=_style.title) Page 2
div(class="swiper-container " + _style.container)
  div(class="swiper-wrapper")
    div(class="swiper-slide " + _style.content1) Content 1
    div(class="swiper-slide " + _style.content2) Content 2
    div(class="swiper-slide " + _style.content3) Content 3
    div(class="swiper-slide " + _style.content4) Content 4
  div(class="swiper-pagination " + _style.pagination)
