@use 'sass:color';
@use 'sass:math';
@use '~@cycjimmy/sass-lib' as *;
@use '~@cycjimmy/sass-lib' as lib;
@use '@/theme/variables';

$prompt-mobile-bgc: variables.$bgc;
$prompt-mobile-font-color: variables.$font-color;

.wrapper {
  @extend %full-container;
  @extend %flex-center;
  flex-direction: column;

  background-color: $prompt-mobile-bgc;
  color: $prompt-mobile-font-color;
}

.qr-code {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.suggest {
  font-size: 14px;
}

$qr-code-desktop-width: 100px;

.qr-code-desktop {
  @extend %abs;
  width: 0;
  height: 0;
  display: none;
  @include lib.fix-center(0);

  &::before {
    content: '';
    display: block;
    @extend %abs;
    left: math.round(variables.$pc-root-width * 0.5 + 20);
    top: - math.round(variables.$pc-root-width * 0.3 + $qr-code-desktop-width * 0.5);
    width: $qr-code-desktop-width;
    height: $qr-code-desktop-width;

    border: 2px solid color.adjust(variables.$bgc, $lightness: -5%);
    border-radius: 12px;
    overflow: hidden;
    @include lib.bg-image-full(url('@static/images/QRCode.png'));
  }
}

.tip-desktop {
  @extend %abs;
  width: 0;
  height: 0;
  display: none;
  @include lib.fix-center(0);

  &::before {
    @extend %abs;
    content: 'Modern browsers such as Chrome and Firefox are recommended';
    display: block;
    left: - math.round(variables.$pc-root-width * 0.5);
    top: math.round(math.div(variables.$pc-root-width * variables.$design-drawing-best-height,
    variables.$design-drawing-width) * 0.5) + 10;
    width: variables.$pc-root-width;

    font-size: 12px;
    color: rgba(variables.$font-color, 0.6);
    text-align: center;
  }
}

:global(.desktop) {
  @media screen and (min-width: variables.$pc-root-width * 1.5) {
    .qr-code-desktop {
      display: block;
    }
  }

  .tip-desktop {
    display: block;
  }
}

