@import '../../theme/variables';
@import '../../theme/utilities';

$promptMobileBgc: $bgc;
$promptMobileFontColor: $fontColor;

.wrapper {
  @extend %fullContainer;
  @extend %flexCenter;
  flex-direction: column;

  background-color: $promptMobileBgc;
  color: $promptMobileFontColor;
}

.QRCode {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.suggest {
  font-size: 14px;
}

$QRCodeDesktopWidth: 100px;

.QRCodeDesktop {
  @extend %abs;
  width: 0;
  height: 0;
  display: none;
  @include fix-center(0);

  &::before {
    content: "";
    display: block;
    @extend %abs;
    left: round($pcRootWidth * .5 + 20);
    top: - round($pcRootWidth * .3 + $QRCodeDesktopWidth * .5);
    width: $QRCodeDesktopWidth;
    height: $QRCodeDesktopWidth;

    border: 2px solid darken($bgc, 5%);
    border-radius: 12px;
    overflow: hidden;
    @include bg-image-full(url("../../../static/images/QRCode.png"));
  }
}

.tipDesktop {
  @extend %abs;
  width: 0;
  height: 0;
  display: none;
  @include fix-center(0);

  &::before {
    @extend %abs;
    content: "Modern browsers such as Chrome and Firefox are recommended";
    display: block;
    left: - round($pcRootWidth * .5);
    top: round(($pcRootWidth * $designDrawingBestHeight / $designDrawingWidth) * .5) + 10;
    width: $pcRootWidth;

    font-size: 12px;
    color: rgba($fontColor, .6);
    text-align: center;
  }
}

:global(.desktop) {
  @media screen and (min-width: $pcRootWidth * 1.5) {
    .QRCodeDesktop {
      display: block;
    }
  }

  .tipDesktop {
    display: block;
  }
}

