@use 'sass:color';
@use '~@cycjimmy/sass-lib' as *;
@use '@/theme/variables';
@use '@/theme/utilities';

.title {
  font-size: utilities.calc-vw(48);
  font-weight: bold;
}

.container {
  @extend %rel;
  width: utilities.calc-vw(600);
  height: utilities.calc-vw(450);
  margin: utilities.calc-vw(40) auto;
  overflow: hidden;
}

.content1,
.content2,
.content3,
.content4 {
  background-color: color.adjust(variables.$bgc, $lightness: 4%);
  font-size: utilities.calc-vw(36);
  text-align: center;

  &:global(.swiper-slide) {
    @extend %flex-center;
  }
}

.pagination {
  .bullet-active {
    opacity: 1;
    background: color.adjust(variables.$bgc, $lightness: 10%);
  }
}

:global(.desktop) {
  .title {
    font-size: utilities.calc-px(48);
  }

  .container {
    width: utilities.calc-px(600);
    height: utilities.calc-px(450);
    margin: utilities.calc-px(40) auto;
  }

  .content1,
  .content2,
  .content3,
  .content4 {
    font-size: utilities.calc-px(36);
  }
}
