@import "../../theme/variables";
@import "../../theme/utilities";

.title {
  font-size: .24rem;
  font-weight: bold;
}

.explication {
  padding: $space;
  margin-bottom: $space * 2;
}

.btnsWrapper {
  display: flex;
  width: 60vw;
}

.playBtn,
.codeBtn {
  flex: 1;
  display: flex;
  @include flex-box-align(center, center);

  margin: 0 $space;
  padding: $space $space * 1.5;

  border: .01rem solid darken($fontColor, 10%);
  border-radius: $radius;

  &:global(.touch-active) {
    color: $bgc;
    background-color: $fontColor;
  }
}