@import "../../theme/variables";
@import "../../theme/utilities";

.title {
  font-size: calcVW(48);
  font-weight: bold;
}

.points {
  > li {
    list-style: decimal;
  }
}

:global(.desktop) {
  .title {
    font-size: calcPX(48);
  }
}
