@import '@/theme/variables';
@import '@/theme/utilities';

$loadingBgc: $bgc;

.wrapper {
  @extend %fullContainer;
  @extend %flexCenter;
  z-index: 9999;
  flex-direction: column;
  background: darken($loadingBgc, 2%);
}

.loadingPic {
  display: block;
  width: 20vw;
  height: 20vw;
}

$progressH: 2vw;
$progressW: 48vw;
$progressPadding: $progressH / 4;

.loadingProgressWrapper {
  display: flex;
  width: $progressW - $progressPadding * 2;
  height: $progressH - $progressPadding * 2;
  padding: $progressPadding;
  margin: $space * 2 0 $space;

  background-color: darken($loadingBgc, 10%);
  border-radius: $progressH / 2;
  box-shadow: inset calcVW(1.5) calcVW(-1.5) calcVW(1.5) desaturate(lighten($loadingBgc, 20%), 30%);
}

.loadingProgressbarWrapper {
  flex: 1;
  width: $progressW - $progressPadding * 2;
  height: $progressH - $progressPadding * 2;
  border-radius: ($progressH - $progressPadding * 2) / 2;

  overflow: hidden;
}

.loadingProgressbar {
  width: 100%;
  height: 100%;
  background: linear-gradient(0, $loadingBgc, desaturate(lighten($loadingBgc, 10%), 30%));

  transform: scaleX(0);
}

.loadingText {
  color: desaturate(lighten($loadingBgc, 30%), 60%);
  font-size: $fontS;
}

.loadingTextPercent {
  font-size: $fontM;
}

:global(.desktop) {
  .loadingPic {
    display: block;
    width: calcPX(100);
    height: calcPX(100);
  }

  $progressH: 10px;
  $progressW: 240px;
  $progressPadding: $progressH / 4;
  $space: 10px;

  .loadingProgressWrapper {
    width: $progressW - $progressPadding * 2;
    height: $progressH - $progressPadding * 2;
    padding: $progressPadding;
    margin: $space * 2 0 $space;

    border-radius: $progressH / 2;
    box-shadow: inset calcPX(2) calcPX(-2) calcPX(2) desaturate(lighten($loadingBgc, 20%), 30%);
  }

  .loadingProgressbarWrapper {
    width: $progressW - $progressPadding * 2;
    height: $progressH - $progressPadding * 2;
    border-radius: ($progressH - $progressPadding * 2) / 2;
  }
}
