@use 'sass:color';
@use '~@cycjimmy/sass-lib' as *;
@use '@/theme/variables';
@use '@/theme/utilities';

$loading-bgc: variables.$bgc;

.wrapper {
  @extend %full-container;
  @extend %flex-center;
  z-index: 9999;
  flex-direction: column;
  background: color.adjust($loading-bgc, $lightness: -2%);
}

.loading-pic {
  display: block;
  width: 20vw;
  height: 20vw;
}

$progress-h: 2vw;
$progress-w: 48vw;
$progress-padding: calc($progress-h / 4);

.loading-progress-wrapper {
  display: flex;
  width: $progress-w - $progress-padding * 2;
  height: $progress-h - $progress-padding * 2;
  padding: $progress-padding;
  margin: variables.$space * 2 0 variables.$space;

  background-color: color.adjust($loading-bgc, $lightness: -10%);
  border-radius: calc($progress-h / 2);
  box-shadow: inset utilities.calc-vw(1.5) utilities.calc-vw(-1.5) utilities.calc-vw(1.5) color.adjust(color.adjust($loading-bgc, $lightness: 20%), $saturation: -30%);
}

.loading-progressbar-wrapper {
  flex: 1;
  width: $progress-w - $progress-padding * 2;
  height: $progress-h - $progress-padding * 2;
  border-radius: ($progress-h - $progress-padding * 2) * 0.5;

  overflow: hidden;
}

.loading-progressbar {
  width: 100%;
  height: 100%;
  background: linear-gradient(0, $loading-bgc, color.adjust(color.adjust($loading-bgc, $lightness: 10%), $saturation: -30%));

  transform: scaleX(0);
}

.loading-text {
  color: color.adjust(color.adjust($loading-bgc, $lightness: 30%), $saturation: -60%);
  font-size: variables.$font-s;
}

.loading-text-percent {
  font-size: variables.$font-m;
}

:global(.desktop) {
  .loading-pic {
    display: block;
    width: utilities.calc-px(100);
    height: utilities.calc-px(100);
  }

  $progress-h: 10px;
  $progress-w: 240px;
  $progress-padding: calc($progress-h / 4);
  $space: 10px;

  .loading-progress-wrapper {
    width: $progress-w - $progress-padding * 2;
    height: $progress-h - $progress-padding * 2;
    padding: $progress-padding;
    margin: $space * 2 0 $space;

    border-radius: calc($progress-h / 2);
    box-shadow: inset utilities.calc-px(2) utilities.calc-px(-2) utilities.calc-px(2) color.adjust(color.adjust($loading-bgc, $lightness: 20%), $saturation: -30%);
  }

  .loading-progressbar-wrapper {
    width: $progress-w - $progress-padding * 2;
    height: $progress-h - $progress-padding * 2;
    border-radius: ($progress-h - $progress-padding * 2) * 0.5;
  }
}
