@use '~@cycjimmy/sass-lib' as *;
@use '@/theme/variables';
@use '@/theme/utilities';

$popup-x-font-size: utilities.calc-vw(30);

.wrapper {
  @extend %full-container;
  @extend %flex-center;
  flex-direction: column;
  z-index: 99;

  background-color: rgba(variables.$black, 0.85);

  opacity: 0;
  transition: opacity 0.4s;

  &.fade-in {
    opacity: 1;
  }
}

.box {
  @extend %rel;
  @extend %flex-center;
  flex-direction: column;
  width: utilities.calc-vw(340);
  padding: utilities.calc-vw(40);

  color: variables.$font-color;
  border: utilities.calc-vw(2) solid variables.$font-color;
  border-radius: variables.$radius * 2;
  font-size: $popup-x-font-size;
}

.info {
  font-weight: bold;
  font-size: $popup-x-font-size;
  margin-bottom: variables.$space;
}

.close-btn {
  @extend %flex-center;
  padding: variables.$space * 1.5;

  border: utilities.calc-vw(2) solid variables.$font-color;
  border-radius: variables.$radius;
  font-size: $popup-x-font-size;
  line-height: $popup-x-font-size * 1.5;
}

:global(.desktop) {
  $popup-x-font-size: utilities.calc-px(30);
  $radius: utilities.calc-px(7.5);
  $space: utilities.calc-px(15);

  .box {
    width: utilities.calc-px(340);
    padding: utilities.calc-px(40);

    border-width: utilities.calc-px(2);
    border-radius: $radius * 2;
    font-size: $popup-x-font-size;
  }

  .info {
    font-size: $popup-x-font-size;
    margin-bottom: $space;
  }

  .close-btn {
    padding: $space * 1.5;

    border-width: utilities.calc-px(2);
    border-radius: $radius;
    font-size: $popup-x-font-size;
    line-height: $popup-x-font-size * 1.5;
  }
}
