@use '@/theme/variables';
@use '@/theme/utilities';

.thanks {
  font-size: utilities.calc-vw(48);
  font-weight: bold;
}

.back-btn {
  height: utilities.calc-vw(80);
  padding: 0 variables.$space * 1.6;
  margin: utilities.calc-vw(50) 0;

  border: utilities.calc-vw(2) solid variables.$font-color;
  border-radius: variables.$radius;
  font-size: variables.$font-l;
  line-height: utilities.calc-vw(80);
}

:global(.desktop) {
  $radius: utilities.calc-px(7.5);
  $space: utilities.calc-px(15);

  .thanks {
    font-size: utilities.calc-px(48);
  }

  .back-btn {
    height: utilities.calc-px(80);
    padding: 0 $space * 1.6;
    margin: utilities.calc-px(50) 0;

    border-width: utilities.calc-px(2);
    border-radius: $radius;
    line-height: utilities.calc-px(80);
  }
}
