@import '@/theme/variables';
@import '@/theme/utilities';

.thanks {
  font-size: calcVW(48);
  font-weight: bold;
}

.backBtn {
  height: calcVW(80);
  padding: 0 $space * 1.6;
  margin: calcVW(50) 0;

  border: calcVW(2) solid $fontColor;
  border-radius: $radius;
  font-size: $fontL;
  line-height: calcVW(80);
}

:global(.desktop) {
  $radius: calcPX(7.5);
  $space: calcPX(15);

  .thanks {
    font-size: calcPX(48);
  }

  .backBtn {
    height: calcPX(80);
    padding: 0 $space * 1.6;
    margin: calcPX(50) 0;

    border-width: calcPX(2);
    border-radius: $radius;
    line-height: calcPX(80);
  }
}
