@import "../../theme/variables";
@import "../../theme/utilities";

@keyframes rotation {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

.title {
  font-size: .24rem;
  font-weight: bold;
}

// logo animation
$picH: 1.2rem;
.logoWrap {
  position: relative;
  height: $picH;
  width: $picH;
  margin-bottom: $picH / 6;
}

.logo,
.logoImg {
  position: absolute;
  left: 0;
  top: 0;
  height: $picH;
  width: $picH;
}

.logo {
  transform: scale(.9);
  transition: transform .4s;

  &.enlarge {
    transform: scale(1);
  }
}

.logoImg {
  background: url(https://raw.githubusercontent.com/cycjimmy/staticFiles/storage/images/cyc_logo256.png) no-repeat;
  background-size: 100% 100%;

  perspective: $picH / 6;
  animation: rotation 4s linear 0s infinite normal both;

  &.animationPaused {
    animation-play-state: paused;
  }
}

.gotoGithub {
  margin-top: $space * 2;
  padding: 0 $space * 1.6;
  height: .4rem;

  border: .01rem solid $fontColor;
  border-radius: $radius;
  font-size: $fontL;
  line-height: .4rem;

  &:hover {
    color: $bgc;
    background-color: $fontColor;
  }
}