name: Test CI
on:
  push:

  pull_request:
    branches:
      - main

  schedule:
    - cron: 0 2 * * 0

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [ 18 ]
        os: [ ubuntu-latest, windows-latest, macOS-latest ]

    steps:
      - uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - run: pnpm install
      - run: npm run lint:fix
      - run: npm run build

      - name: Semantic Release test
        uses: cycjimmy/semantic-release-action@v5
        with:
          dry_run: true
          branches: |
            [
              'master',
              'main',
              'next',
              'next-major',
              {
                name: 'beta',
                prerelease: true
              },
              {
                name: 'alpha',
                prerelease: true
              }
            ]
          extra_plugins: |
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
