name: Test CI
on:
  push:

  pull_request:
    branches:
      - main

  schedule:
    - cron: 0 2 * * 0

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [ '16' ]
        os: [ ubuntu-latest, windows-latest, macOS-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: pnpm/action-setup@v2.2.1
        with:
          version: 6
      - run: pnpm install
      - run: npm run lint:fix
      - run: npm run build
